<%= render 'shared/error_messages', object: @user %>
<%= form_for @user, remote: true,  url: withdraw_user_path, method: :post do |f|  %>
  <div class="form-group">
    <%= f.label 'Money' %>
    <%= number_field_tag :money, 0, required: true%>
  </div>
  <p>Status: <span id="status"> Input money</span></p>
  <div class="form-group">
    <%= f.label 'Bank account' %>
     <select id="account-options">
       <option value="">Select your account</option>
     </select>
    </div>
    <%= f.submit 'Withdraw', id: "btn-withdraw"%>
  </div>
<% end %>
<button id="get-accounts" >get accounts</button>
