<%= form_for @user do |f|  %>
  <div class="form-group">
    <%= f.label 'Money' %>
    <input type="text" id="money_withdraw">
  </div>
  <div class="form-group">
    <%= f.label 'Bank account' %>
    <%= f.select(:name, @user.bank_accounts.pluck(:name)) %>
  </div>
  <%= f.submit 'Submit', id: 'withdraw' %>
<% end %>
