<link href="https://cdn.jsdelivr.net/npm/select2@4.0.11/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.11/dist/js/select2.min.js"></script>
<%= render 'shared/error_messages', object: @bank_account %>
<%= form_with model: @bank_account do |f|  %>
  <div class="form-group">
    <%= f.label 'name' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label 'balance' %>
    <%= f.text_field :balance, class: 'form-control' %>
  </div>
  <p>Status: <span id="status"> Input money</span></p>
  <%= f.submit 'Submit', class: 'btn btn-primary col-sm-7' %>
<% end %>
